.gallery {
  width: auto;
  margin: 0 auto;
  padding: 10px;
  background: white;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.gallery > div {
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(3,3);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
